
body {
    font-family: 'Montserrat', sans-serif;
}

.login-form {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    text-align: center;
    margin-right: 100px;
    margin-bottom: 100px;
}

.form-component {
    margin: 0px 10px 10px 0px;    
}

.submit-btn {
    background: white;
    widows: auto;
    height: auto;
    padding: 10px;
    font-size: 15px;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid black;
}

.submit-btn:hover {
    background:#ddd;
}

.heading {
    margin-bottom: 40px;
    margin-left: 30px; 
}