<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quiz Portal</title>
   
    <link rel="stylesheet" href="/css/Quiz-style.css">
    <link rel="stylesheet" href="/css/modal-style.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <navbar>
    
        <div class = "navbar">
                <div class = "left navbar-design">
                    <a href="#"> ATS </a>
                    <a href="#" id = "dashboard-navbar"> DASHBOARD</a>
                    <a href="#" id = "dashboard-navbar"> ASSIGNMENT</a>
                </div>
                <div class = "right navbar-design">
                    <a href="#">LOGOUT</a>
                </div>
        </div>
    </navbar>
    <main>
             <div class="modal">
                <div class="modal-content">
                    <span class="close-button">&times;</span>
                    <table>
                        <tr>
                            <th> No </th>
                            <th> Name </th>
                            <th> Reg.no </th>
                            <th> Marks </th>
                        </tr>
                        <tr>
                            <td> 1 </td>
                            <td> Rohan </td>
                            <td> 159102104 </td>
                            <td> 10 </td>
                        </tr>
                            
                    </table>
                </div>
            </div>
            
    </main>
    
 
    <script src="/javascript/quiz-maker.js"></script>
    <script src="/javascript/quiz-script.js"></script>
    <script src="/javascript/modal.js"></script>
    
</body>
</html>


